<a href="https://colab.research.google.com/github/kurangjauh/DataMining/blob/main/Project_Akhir_Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [144]:
#library import
import numpy as np
import pandas as pd
from sklearn import tree

#read data
vgdata = pd.read_csv('vgsales.csv', delimiter=',', header=0)

In [145]:
vgdata.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [146]:
vgdata["Platform"] = pd.factorize(vgdata.Platform)[0]

In [147]:
vgdata.head()

   Rank                      Name  ...  Other_Sales  Global_Sales
0     1                Wii Sports  ...         8.46         82.74
1     2         Super Mario Bros.  ...         0.77         40.24
2     3            Mario Kart Wii  ...         3.31         35.82
3     4         Wii Sports Resort  ...         2.96         33.00
4     5  Pokemon Red/Pokemon Blue  ...         1.00         31.37

[5 rows x 11 columns]

In [148]:
print(vgdata)

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [149]:
vgdata = vgdata.drop(labels="Name", axis=1)
vgdata = vgdata.drop(labels="Rank", axis=1)
vgdata = vgdata.drop(labels="Genre", axis=1)
vgdata = vgdata.drop(labels="Publisher", axis=1)
print(vgdata)

       Platform    Year  NA_Sales  ...  JP_Sales  Other_Sales  Global_Sales
0             0  2006.0     41.49  ...      3.77         8.46         82.74
1             1  1985.0     29.08  ...      6.81         0.77         40.24
2             0  2008.0     15.85  ...      3.79         3.31         35.82
3             0  2009.0     15.75  ...      3.28         2.96         33.00
4             2  1996.0     11.27  ...     10.22         1.00         31.37
...         ...     ...       ...  ...       ...          ...           ...
16593         8  2002.0      0.01  ...      0.00         0.00          0.01
16594        18  2003.0      0.01  ...      0.00         0.00          0.01
16595         6  2008.0      0.00  ...      0.00         0.00          0.01
16596         3  2010.0      0.00  ...      0.00         0.00          0.01
16597         8  2003.0      0.01  ...      0.00         0.00          0.01

[16598 rows x 7 columns]

In [150]:
vgdata = vgdata.to_numpy()

In [231]:
dataTraining = np.concatenate((vgdata[0:12500, :], vgdata[13500:15000]),axis=0)
dataTesting = np.concatenate((vgdata[12500:13500, :], vgdata[15000:16598]), axis=0)
dataTraining = dataTraining.astype('int')
dataTesting = dataTesting.astype('int')

In [237]:
inputTraining = dataTraining[:, 0:7]
inputTesting = dataTesting[:, 0:7]
labelTraining = dataTraining[:, 6]
labelTesting = dataTesting[:, 6]
#print(dataTraining)

In [238]:
model = tree.DecisionTreeClassifier()
model = model.fit(inputTraining, labelTraining)

In [239]:
hasilPrediksi = model.predict(inputTesting)
print("Label sebenarnya ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, "data.")
print("Prediksi Salah : ", prediksiSalah, "data.")
print("Akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah)*100, "%")

Label sebenarnya  [0 0 0 ... 0 0 0]
Hasil Prediksi :  [0 0 0 ... 0 0 0]
Prediksi Benar :  2598 data.
Prediksi Salah :  0 data.
Akurasi :  100.0 %